.container{
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* padding-top: 34%; */
  }

  .form{
    width: 100%;
  }